<footer class="footer">
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-6">
                <a href="#">
                    <img src={{footerImage}} alt="Utherverse logo" class="img-fluid logo" />
                </a>
                <p class="mt-4">
                    {{footerText}}
                </p>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-lg-end mt-lg-0 mt-4">
                <form class="subscribe-form-footer">
                    <label class="form-label">Don't miss critical updates.</label>
                    <div class="form-group-input">
                        <input type="text" [(ngModel)]="subscriptionEmail" [ngModelOptions]="{ standalone: true }" class="me-4 form-group" placeholder="Email Address" id="subscribeUser"/>
                        <button type="button" class="btn text-white bg-gradient-pink py-sm-2 px-2 px-sm-4 my-2 rounded-pill" (click)="subscribeProjectUpdate()">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="container text-white footer-text">
        <div class="d-flex justify-content-between">
            <p>copyright © 2022 . All Right Reserved . </p>
            <p class="right">
                <span (click)="openPrivacyModal()">Privacy Policy, </span>
                <span (click)="openTermsModal()">Terms & Conditions</span>
            </p>
        </div>
    </div> -->
    
    <div class="container-fluid position-relative footer-section">
        <div class="container">
          <span class="note">**The information presented on this web page and throughout this web site is currently a work in progress. We make no assurances that it is error free, and there may be oversights while we build and proof the materials.  This website may contain forward looking statements, which statements may not be relied on in any manner as to any matter pertaining to the Utherverse, its creators or any related persons or companies.  For additional information please see our Privacy Policy and Terms and Conditions.</span>
          <span class="copyright">© 2022 Utherverse.io. All Rights Reserved.</span>
        </div>
          <div class="container mt-4 pb-3">
            <div class="row">
                <div class="col-sm-12 text-center">
                  <a href="https://www.iubenda.com/privacy-policy/68513866" class="privacy-btn iubenda-white no-brand iubenda-noiframe text-white ws-light btn btn-sm border-0 bg-gradient-purple iubenda-embed iubenda-noiframe text-white ws-light btn btn-sm border-0 bg-gradient-purple" title="Privacy Policy " style="margin-right: 1rem !important; background-color: #321e44 !important; color: white !important; padding: 0.6rem !important; border-radius: 8px !important;">Personal Data Policy</a>
                  
                  <a href="https://www.iubenda.com/privacy-policy/68513866/cookie-policy" class="cookie-btn iubenda-white no-brand iubenda-noiframe text-white ws-light btn btn-sm border-0 bg-gradient-purple iubenda-embed iubenda-noiframe text-white ws-light btn btn-sm border-0 bg-gradient-purple" title="Cookie Policy " style="margin-right: 1rem !important; background-color: #321e44 !important; color: white !important; padding: 0.6rem !important; border-radius: 8px !important;">Cookie Policy</a>
                  
                  <a href="https://www.iubenda.com/terms-and-conditions/68513866" class="terms-btn iubenda-white no-brand iubenda-noiframe text-white ws-light btn btn-sm border-0 bg-gradient-purple iubenda-embed iubenda-noiframe text-white ws-light btn btn-sm border-0 bg-gradient-purple" title="Terms and Conditions " style="background-color: #321e44 !important; color: white !important; padding: 0.6rem !important; border-radius: 8px !important;">Terms and Conditions</a>
                 
                </div>
                </div>
          </div>
      </div>
</footer>

<div class="modal privacy-modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="p-5 modal-content privacy-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" class="text-center w-100">Privacy Policy</h5>

                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close" #modal_one_close
                    (click)="closePrivacyModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body privacy-modal-body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>

        </div>
    </div>
</div>


<div class="modal terms-modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="p-5 modal-content terms-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" class="text-center w-100">Terms & Conditions</h5>

                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close" #modal_one_close
                    (click)="closeTermsModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body terms-modal-body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>

        </div>
    </div>
</div>

<button style="display:none" data-bs-toggle="modal" data-bs-target="#privacyModal" #privacyModal></button>
<button style="display:none" data-bs-toggle="modal" data-bs-target="#termsModal" #termsModal></button>