.footer-text
{
    background-color: transparent;
}

.footer-text .d-flex
{
    border-top: 1px solid;
    padding: 0.5rem 0;
}

.footer-text .d-flex p {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.right
{
    cursor: pointer;
}

.privacy-modal, .terms-modal {
    background-color: rgba(19, 21, 36, 0.7);
    color: white;
}

.privacy-content, .terms-content {
    background-color: #232a43 !important;
    color: white;
}

span.note {
    color: #9a9a9a;
    font-size: 13px;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 32px;
    line-height: 16px;
}

span.copyright {
    text-align: center;
    display: block;
    color: white;
}

.iubenda-embed:not(.iubenda-nostyle)
{
    background-color: #232a43 !important;
}