<div class="kyc-error text-center" *ngIf="otp_not_verified">Please verify your OTP verification
  <button type="button" class="btn btn-outline-white px-3 ms-2 border-2 py-1 rounded-pill"
    (click)="sendOTPAfterLogin()">Verify</button>
</div>

<!-- <div class="kyc-error text-center" *ngIf="document_not_submitted">Please upload your accredited investor document
  <button type="button" class="btn btn-outline-white px-3 ms-2 border-2 py-1 rounded-pill"
    (click)="checkDocAndTokens()">Submit</button>
</div>
<div class="kyc-error text-center" *ngIf="document_not_approved">Your accredited investor document has been submitted
  and is being reviewed. You will be notified when you can continue with your purchase.
</div> -->

<!-- <div class="kyc-error text-center" *ngIf="kyc_not_approved == false">Please complete your KYC verification
  <button type="button" class="btn btn-outline-white px-3 ms-2 border-2 py-1 rounded-pill" id="blockpass-kyc-connect"
    (click)="connectBlockPass()" #connect>Connect</button>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent mt-4 border-0">
  <div class="container">
    <a class="navbar-brand" (click)="LogoProjectClick()">
      <img src={{logoImage}} alt="" />
    </a>
    <div class="ms-auto d-flex align-items-center">
      <div class="header__socials d-none d-md-block">
        <a class="btn rounded-circle fb-btn header-social-btn" id="socialFB" *ngIf="facebookLink"
          (click)="GoTofacebook(facebookLink?.link)"></a>
        <a class="btn rounded-circle instagram-btn header-social-btn" id="socialInstagram" *ngIf="instagramLink"
          (click)="GoToInstagram(instagramLink?.link)"></a>
        <a class="btn rounded-circle twitter-btn header-social-btn" id="socialTwitter" *ngIf="twitterLink"
          (click)="GoToTwitter(twitterLink?.link)"></a>
        <a class="btn rounded-circle youtube-btn header-social-btn" id="socialYoutube" *ngIf="youtubeLink"
          (click)="GoToYoutube(youtubeLink?.link)"></a>
        <a class="btn rounded-circle linkedin-btn header-social-btn" id="socialLinkedin" *ngIf="linkedinLink"
          (click)="GoToLinkedin(linkedinLink?.link)"></a>
        <a class="btn rounded-circle telegram-btn header-social-btn" id="socialTelegram" *ngIf="telegramLink"
          (click)="GoToTelegram(telegramLink?.link)"></a>
        <a class="btn rounded-circle discord-btn header-social-btn" id="socialDiscord" *ngIf="discordLink"
          (click)="GoToDiscord(discordLink?.link)"></a>
      </div>

      <div class="header__auth-container">
        <button type="button" class="btn btn-outline-dust-white py-sm-2 px-4 px-sm-5 my-2 me-2 rounded-pill"
          *ngIf="!loggedIn" data-bs-toggle="modal" data-bs-target="#loginModal">
          Login
        </button>

        <button type="button" class="btn text-white bg-gradient-pink py-sm-2 px-4 px-sm-5 my-2 rounded-pill"
          *ngIf="!loggedIn" data-bs-toggle="modal" data-bs-target="#registerModal">
          Register
        </button>

        <button type="button" class="btn btn-outline-dust-white py-sm-2 px-4 px-sm-5 my-2 me-2 rounded-pill"
          *ngIf="loggedIn" (click)="logout()">
          Logout
        </button>

        <button class="btn text-white bg-gradient-pink py-sm-2 px-4 px-sm-5 my-2 rounded-pill"
          *ngIf="loggedIn && !otp_not_verified && !document_not_submitted && !document_not_approved"
          (click)="GoToDashboard(routerUrl)">
          {{routerUrl == 'customer/dashboard' ? 'Purchase More Tokens' : 'Dashboard' }}
        </button>


      </div>
    </div>
  </div>
</nav>


<!-----------------------Hidden Buttons------------------->
<button style="display: none" data-bs-toggle="modal" data-bs-target="#otpModal" #otpModal></button>
<button style="display: none" data-bs-toggle="modal" data-bs-target="#loginModal" #loginModal></button>
<button style="display: none" data-bs-toggle="modal" data-bs-target="#otpLoginModal" #otpLoginModal></button>
<button style="display: none" data-bs-toggle="modal" data-bs-target="#docLoginModal" #docLoginModal></button>
<button style="display: none" data-bs-toggle="modal" data-bs-target="#tokenModal" #tokenModal></button>
<button style="display: none" data-bs-toggle="modal" data-bs-target="#helpDeskModal" #helpDeskModal></button>
<button style="display: none" data-bs-toggle="modal" data-bs-target="#registerModal" #registerModal></button>



<!-- Login Modal Starts -->
<div class="modal fade login__modal" id="loginModal" tabindex="-1" aria-labelledby="loginModalModalLabel"
  aria-hidden="true" #loginModalCenter>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-lg-4 col-sm-8 col-10">
            <form [formGroup]="loginForm" (ngSubmit)="loginCustomer()">
              <div class="rounded-12 bg-primary-dark px-4 py-4 login__form">
                <h4 class="text-center mb-4">Login</h4>
                <div class="mb-3">
                  <label for="email" class="form-label">Email Address</label>
                  <input type="email" class="form-control" id="email" formControlName="email" required />
                </div>
                <div *ngIf="loginForm.get('email').touched && !loginForm.get('email').valid">
                  <div
                    style="color: red; background-color: rgb(0,0,0, 0.4); border-radius: 0.25rem; padding: 0.5rem; margin-bottom: 0.5rem;">
                    {{ getLoginEmailErrors() }}
                  </div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" id="password" class="form-control" formControlName="password" required />
                </div>
                <div *ngIf="loginForm.get('password').touched && !loginForm.get('password').valid">
                  <div
                    style="color: red; background-color: rgb(0,0,0, 0.4); border-radius: 0.25rem; padding: 0.5rem; margin-bottom: 0.5rem;">
                    {{ getLoginPasswordErrors() }}
                  </div>
                </div>
                <div class="form-check comp-checkbox mb-2">
                  <input class="form-check-input" type="checkbox" value="" id="subscribeNewsletter" />
                  <label class="form-check-label" for="subscribeNewsletter">Subscribe To
                    Newsletter</label>
                </div>
                <button type="submit"
                  class="btn text-white bg-gradient-pink py-2 px-5 mt-4 mb-2 rounded-pill d-block mx-auto">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Login Modal Ends -->
<!-- Register Modal Starts -->
<div class="modal fade register__modal" id="registerModal" tabindex="-1" aria-labelledby="registerModalModalLabel"
  aria-hidden="true" #closeStatsInfoModal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content register-modal">
      <div class="modal-body p-5">
        <h4 class="text-center">
          You Are Registering For Participation In The Presale Project
        </h4>

        <div class="row">
          <!-- <div class="col-md-5 mx-auto register__info">
                        <div class="media mb-4">
                            <img class="mr-3" src="../assets/img/user-circle.png" alt="img" />
                            <div class="media-body">
                                <h5 class="mt-0">Free Account</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                    eos et accusam et justo duo
                                </p>
                            </div>
                        </div>
                        <div class="media mb-4">
                            <img class="mr-3" src="../assets/img/chart-dots.png" alt="img" />
                            <div class="media-body">
                                <h5 class="mt-0">Awesome Performance</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                    eos et accusam et justo duo
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <img class="mr-3" src="../assets/img/headphones.png" alt="img" />
                            <div class="media-body">
                                <h5 class="mt-0">Qualified Countries</h5>
                                <div class="listings__container">
                                    <div class="search__icon">
                                        <img src="../assets/img/search.svg" alt="search" />
                                    </div>
                                    <ul>
                                        <li>Singapore</li>
                                        <li>Reunion</li>
                                        <li>Senegal</li>
                                        <li>Uganda</li>
                                        <li>Armenia</li>
                                        <li>Singapore</li>
                                        <li>Reunion</li>
                                        <li>Senegal</li>
                                        <li>Uganda</li>
                                        <li>Armenia</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
          <div class="col mx-auto register__form mt-md-0 m-4">

            <!-- <div class="media mb-4">
              <img class="mr-3" src="../assets/img/headphones.png" alt="img" />
              <div class="media-body">
                <h5 class="mt-0 ms-2">Qualified Countries</h5>
                <div class="listings__container">
                  <div class="search__icon">
                    <img src="../assets/img/search.svg" alt="search" />
                  </div>
                  <ul>
                    <li>Singapore</li>
                  <li>Reunion</li>
                  <li>Senegal</li>
                  <li>Uganda</li>
                  <li>Armenia</li>
                  <li>Singapore</li>
                  <li>Reunion</li>
                  <li>Senegal</li>
                  <li>Uganda</li>
                  <li>Armenia</li>
                    <li>Afghanistan </li>
                    <li>Albania </li>
                    <li>Algeria </li>
                    <li>AmericanSamoa </li>
                    <li>Andorra </li>
                    <li>Angola </li>
                    <li>Anguilla </li>
                    <li>Antarctica </li>
                    <li>Antigua and Barbuda </li>
                    <li>Argentina </li>
                    <li>Armenia </li>
                    <li>Aruba </li>
                    <li>Australia </li>
                    <li>Austria </li>
                    <li>Azerbaijan </li>
                    <li>Bahamas </li>
                    <li>Bahrain </li>
                    <li>Bangladesh </li>
                    <li>Barbados </li>
                    <li>Belarus </li>
                    <li>Belgium </li>
                    <li>Belize </li>
                    <li>Benin </li>
                    <li>Bermuda </li>
                    <li>Bhutan </li>
                    <li>Bolivia, Plurinational State of Bolivia </li>
                    <li>Bosnia and Herzegovina </li>
                    <li>Botswana </li>
                    <li>Bouvet Island </li>
                    <li>Brazil </li>
                    <li>British Indian Ocean Territory </li>
                    <li>Brunei Darussalam </li>
                    <li>Bulgaria </li>
                    <li>Burkina Faso </li>
                    <li>Burundi </li>
                    <li>Cambodia </li>
                    <li>Cameroon </li>
                    <li>Canada </li>
                    <li>Cape Verde </li>
                    <li>Cayman Islands </li>
                    <li>Central African Republic </li>
                    <li>Chad </li>
                    <li>Chile </li>
                    <li>China </li>
                    <li>Christmas Island </li>
                    <li>Cocos (Keeling) Islands </li>
                    <li>Colombia </li>
                    <li>Comoros </li>
                    <li>Congo </li>
                    <li>Congo, The Democratic Republic of the </li>
                    <li>Cook Islands </li>
                    <li>Costa Rica </li>
                    <li>Ivory Coast </li>
                    <li>Croatia </li>
                    <li>Cuba </li>
                    <li>Cyprus </li>
                    <li>Czech Republic </li>
                    <li>Denmark </li>
                    <li>Djibouti </li>
                    <li>Dominica </li>
                    <li>Dominican Republic </li>
                    <li>Ecuador </li>
                    <li>Egypt </li>
                    <li>El Salvador </li>
                    <li>Equatorial Guinea </li>
                    <li>Eritrea </li>
                    <li>Estonia </li>
                    <li>Ethiopia </li>
                    <li>Falkland Islands </li>
                    <li>Faroe Islands </li>
                    <li>Fiji </li>
                    <li>Finland </li>
                    <li>France </li>
                    <li>French Polynesia </li>
                    <li>French Southern and Antarctic Lands </li>
                    <li>Gabon </li>
                    <li>Gambia </li>
                    <li>Georgia </li>
                    <li>Germany </li>
                    <li>Ghana </li>
                    <li>Gibraltar </li>
                    <li>Greece </li>
                    <li>Greenland </li>
                    <li>Grenada </li>
                    <li>Guadeloupe </li>
                    <li>Guam </li>
                    <li>Guatemala </li>
                    <li>Guernsey </li>
                    <li>Guinea </li>
                    <li>Guinea-Bissau </li>
                    <li>Guyana </li>
                    <li>Haiti </li>
                    <li>Heard Island and McDonald Islands </li>
                    <li>Vatican City State (Holy See) </li>
                    <li>Honduras </li>
                    <li>Hong Kong </li>
                    <li>Hungary </li>
                    <li>Iceland </li>
                    <li>India </li>
                    <li>Indonesia </li>
                    <li>Iran, Islamic Republic of </li>
                    <li>Iraq </li>
                    <li>Ireland </li>
                    <li>Isle of Man </li>
                    <li>Israel </li>
                    <li>Italy </li>
                    <li>Jamaica </li>
                    <li>Japan </li>
                    <li>Jersey </li>
                    <li>Jordan </li>
                    <li>Kazakhstan </li>
                    <li>Kenya </li>
                    <li>Kiribati </li>
                    <li>North Korea </li>
                    <li>South Korea </li>
                    <li>Kuwait </li>
                    <li>Kyrgyzstan </li>
                    <li>Laos </li>
                    <li>Latvia </li>
                    <li>Lebanon </li>
                    <li>Lesotho </li>
                    <li>Liberia </li>
                    <li>Libyan Arab Jamahiriya </li>
                    <li>Liechtenstein </li>
                    <li>Lithuania </li>
                    <li>Luxembourg </li>
                    <li>Macau </li>
                    <li>Macedonia, The Former Yugoslav Republic of </li>
                    <li>Madagascar </li>
                    <li>Malawi </li>
                    <li>Malaysia </li>
                    <li>Maldives </li>
                    <li>Mali </li>
                    <li>Malta </li>
                    <li>Marshall Islands </li>
                    <li>Martinique </li>
                    <li>Mauritania </li>
                    <li>Mauritius </li>
                    <li>Mayotte </li>
                    <li>Mexico </li>
                    <li>Micronesia, Federated States of </li>
                    <li>Moldova, Republic of </li>
                    <li>Monaco </li>
                    <li>Mongolia </li>
                    <li>Montenegro </li>
                    <li>Montserrat </li>
                    <li>Morocco </li>
                    <li>Mozambique </li>
                    <li>Myanmar </li>
                    <li>Namibia </li>
                    <li>Nauru </li>
                    <li>Nepal </li>
                    <li>Netherlands </li>
                    <li>Netherlands Antilles </li>
                    <li>New Caledonia </li>
                    <li>New Zealand </li>
                    <li>Nicaragua </li>
                    <li>Niger </li>
                    <li>Nigeria </li>
                    <li>Niue </li>
                    <li>Norfolk Island </li>
                    <li>Northern Mariana Islands </li>
                    <li>Norway </li>
                    <li>Oman </li>
                    <li>Pakistan </li>
                    <li>Palau </li>
                    <li>Palestinian Territory, Occupied </li>
                    <li>Panama </li>
                    <li>Papua New Guinea </li>
                    <li>Paraguay </li>
                    <li>Peru </li>
                    <li>Philippines </li>
                    <li>Pitcairn </li>
                    <li>Poland </li>
                    <li>Portugal </li>
                    <li>Puerto Rico </li>
                    <li>Qatar </li>
                    <li>Réunion </li>
                    <li>Romania </li>
                    <li>Russia </li>
                    <li>Rwanda </li>
                    <li>Saint Helena, Ascension and Tristan Da Cunha </li>
                    <li>Saint Kitts and Nevis </li>
                    <li>Saint Lucia </li>
                    <li>Saint Pierre and Miquelon </li>
                    <li>Saint Vincent and the Grenadines </li>
                    <li>Samoa </li>
                    <li>San Marino </li>
                    <li>Sao Tome and Principe </li>
                    <li>Saudi Arabia </li>
                    <li>Senegal </li>
                    <li>Serbia </li>
                    <li>Seychelles </li>
                    <li>Sierra Leone </li>
                    <li>Singapore </li>
                    <li>Slovakia </li>
                    <li>Slovenia </li>
                    <li>Solomon Islands </li>
                    <li>Somalia </li>
                    <li>South Africa </li>
                    <li>South Georgia and the South Sandwich Islands </li>
                    <li>Spain </li>
                    <li>Sri Lanka </li>
                    <li>Sudan </li>
                    <li>Suriname </li>
                    <li>Svalbard and Jan Mayen </li>
                    <li>Swaziland </li>
                    <li>Sweden </li>
                    <li>Switzerland </li>
                    <li>Syria </li>
                    <li>Taiwan </li>
                    <li>Tajikistan </li>
                    <li>Tanzania, United Republic of </li>
                    <li>Thailand </li>
                    <li>Timor-Leste </li>
                    <li>Togo </li>
                    <li>Tokelau </li>
                    <li>Tonga </li>
                    <li>Trinidad and Tobago </li>
                    <li>Tunisia </li>
                    <li>Turkey </li>
                    <li>Turkmenistan </li>
                    <li>Turks and Caicos Islands </li>
                    <li>Tuvalu </li>
                    <li>Uganda </li>
                    <li>Ukraine </li>
                    <li>United Arab Emirates </li>
                    <li>United Kingdom </li>
                    <li>United States </li>
                    <li>United States Minor Outlying Islands </li>
                    <li>Uruguay </li>
                    <li>Uzbekistan </li>
                    <li>Vanuatu </li>
                    <li>Venezuela, Bolivarian Republic of </li>
                    <li>Vietnam </li>
                    <li>Virgin Islands, British </li>
                    <li>Virgin Islands, U.S. </li>
                    <li>Wallis and Futuna </li>
                    <li>Western Sahara </li>
                    <li>Yemen </li>
                    <li>Zambia </li>
                    <li>Zimbabwe </li>
                  </ul>
                </div>
              </div>
            </div> -->

            <form [formGroup]="signupForm" (ngSubmit)="signupCustomer()">
              <div class="mb-3">
                <input type="text" placeholder="Enter your  name" class="form-control" formControlName="first_name"
                  autocomplete="new-first" />
              </div>
              <div *ngIf="signupForm.get('first_name').touched && !signupForm.get('first_name').valid">
                <div class="error">
                  Name is required
                </div>
              </div>
              <div class="mb-3">
                <input type="email" placeholder="Email Address" class="form-control" formControlName="email"
                  autocomplete="new-email" />
              </div>
              <div *ngIf="signupForm.get('email').touched && !signupForm.get('email').valid">
                <div class="error">
                  {{ getSignupEmailErrors() }}
                </div>
              </div>
              <div class="mb-3">
                <input type="email" (paste)="onPaste($event)" placeholder="Wallet Address" class="form-control"
                  formControlName="wallet_address" autocomplete="new-email" />
              </div>
              <div *ngIf="signupForm.get('wallet_address').dirty || signupForm.get('wallet_address').touched">
                <div class="error" *ngIf="signupForm.get('wallet_address').errors?.required">
                  <div>Wallet Address is required</div>

                </div>
                <div class="error" *ngIf="signupForm.get('wallet_address').errors?.customValidation">Wallet Address is
                  invalid</div>
              </div>
              <!-- <div *ngIf="wallet_address.invalid" class="invalid-feedback">
                <div *ngIf="wallet_address.errors?.['required']">
                  This field is required.
                </div>
                <div *ngIf="wallet_address.errors?.not_valid_address">
                  Enter valid wallet address
                </div>
              </div> -->
              <!-- <div *ngIf="!signupForm.get('wallet_address').valid && signupForm.get('wallet_address').touched">
                <div *ngIf="wallet_address.errors.[]">
                  <p>This field is required</p>
                </div>
              </div> -->

              <!-- <div
                *ngIf="signupForm.get('wallet_address').touched && signupForm.get('wallet_address').hasError('not_valid_address')"
                class="error">
                Not A Valid Address. Provide the correct One

              </div> -->
              <button type="submit" [disabled]="!signupForm.valid"
                class="btn text-white bg-gradient-pink py-2 px-5 mt-4 mb-2 rounded d-block d-block w-100 text-center">
                Create Account
                <span [ngClass]="spinner?'spinner-border spinner-border-sm m-1':''" style="width:1rem; height: 1rem;">
                </span>
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Register Modal Ends -->


<!-----------------Accredited User------------------->

<div class="modal fade otp__modal" id="otpModal" tabindex="-1" aria-labelledby="otpModalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content otp-modal-content">
      <div class="modal-body otp-modal-body">
        <div class="row justify-content-center align-items-center h-100" *ngIf="!otpVerified">
          <div class="mb-3">
            <p>Please verify yourself by entering codes in these fields:</p>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Enter Email OTP:</label>
            <input type="number"
              onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"
              class="form-control" id="email" required #emailcode />
          </div>

          <div class="mb-3" [ngClass]="otpStatus!=='disabled'?'':'d-none'">
            <label for="phone" class="form-label">Enter Phone OTP:</label>
            <input type="text" class="form-control" id="phone" required #phonecode />
          </div>
          <!-- <div class="mb-3">
                        <label for="tokens" class="form-label">Enter Token Amounts for reservation:</label>
                        <input type="number" class="form-control" id="tokens" required />
                    </div> -->

          <div class="mt-3 mb-3">
            <p class="resend-otp" (click)="sendOTP()">Resend OTP?</p>
          </div>

          <div class="mt-3 mb-3">
            <p> If you are unable to get the OTP code please sign up again with correct information.</p>
          </div>

          <div class="mt-4 text-center">
            <button type="button" class="btn text-white bg-gradient-pink py-sm-2 px-4 px-sm-5 rounded-pill"
              (click)="verifyOTP(emailcode.value, phonecode.value)">

              Submit
            </button>
          </div>
        </div>

        <div class="row justify-content-center align-items-center h-100" *ngIf="otpVerified && !investorLink">
          <div class="mb-3">
            <div class="mb-3">
              <label for="tokens" class="form-label">While you wait for the accredited investor process to be approved,
                please enter the anticipated amount of tokens you'd like to purchase and we will reserve them for you
                for 96 hours</label>
              <input type="number" class="form-control" id="tokens" required #token [min]="0" />
            </div>
            <div class="mt-4 text-center">
              <button type="submit" class="btn text-white bg-gradient-pink py-sm-2 px-4 px-sm-5 rounded-pill"
                (click)="reserveToken(token.value)">
                Submit
              </button>
            </div>
          </div>
        </div>

        <div class="row justify-content-center align-items-center h-100" *ngIf="investorLink && otpVerified">
          <div class="mb-3">
            <!-- <p>Please verify yourself using this accredit link:</p> -->
            <p>For US and Canada, you must be an accredited investor. Please verify using this link and then
              you must upload your .pdf verification from them.</p>
            <a class="accredit-link" (click)="openAccreditLink()">https://www.verifyinvestor.com/signup?t=investor</a>
            <div class="note">
              <p> <span class="note-bold" *ngIf="messageAccreditFile">Note:</span> <br />
                {{accreditFile?'Please upload your verified PDF document here':accreditFile.name}}</p>
            </div>
            <div class="mt-2 accredit-file" *ngIf="flagLul">
              <input type="file" (change)="selectAccreditedPaper($event)" accept=".pdf">
            </div>
            <div class="verified-pdf mt-2" *ngIf="messageAccreditFile">
              <p class="message"> We have received your .pdf upload and we will send you a verification
                email once it is reviewed and you will be able to continue with your purchase.</p>
            </div>
            <div class="mt-4" *ngIf="messageAccreditFile">
              <p class="messageLogin">You can now Login to the IDO Opportunity</p>
            </div>
          </div>
          <div class="mt-2 text-center">
            <div class="d-flex">
              <button type="submit" class="btn text-white bg-gradient-pink py-sm-2 px-4 px-sm-5 rounded-pill"
                (click)="uploadAccreditedPaper()" *ngIf="!messageAccreditFile">
                Upload
              </button>
              <button type="submit" class="btn text-white bg-gradient-pink py-sm-2 px-4 px-sm-5 ms-2 rounded-pill"
                (click)="showTokenPopup()" *ngIf="messageAccreditFile">
                OK
              </button>
              <div *ngIf="loading && !messageAccreditFile" class="loader"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="modal fade otp_login_modal" id="otpLoginModal" tabindex="-1" aria-labelledby="otpLoginModalModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content otp-modal-content">
      <div class="modal-body otp-modal-body">
        <!-- <div class="row justify-content-center align-items-center h-100" *ngIf="!VerifyOTPAfterLogin">
                    <div class="mb-3">
                        <p>Please Enter the Email and Phone Number:</p>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Enter Email:</label>
                        <input type="email" class="form-control" id="email" required #email />
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Enter Phone Number:</label>
                        <input type="text" class="form-control" id="phone" required #phone />
                    </div>

                    <div class="mt-4 text-center">
                        <button type="button" class="btn text-white bg-gradient-pink py-sm-2 px-4 px-sm-5 rounded-pill"
                            (click)="sendOTPAfterLogin(email.value, phone.value)">
                            Submit
                        </button>
                    </div>
                </div> -->

        <div class="row justify-content-center align-items-center h-100" *ngIf="VerifyOTPAfterLogin">
          <div class="mb-3">
            <p>Please verify yourself by entering codes in these fields:</p>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Enter Email OTP:</label>
            <input type="number"
              onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"
              class="form-control" id="email" required #emailcodelogin />
          </div>
          <div class="mb-3" [ngClass]="otpStatus!=='disabled'?'':'d-none'">
            <label for="phone" class="form-label">Enter Phone OTP:</label>
            <input type="text" class="form-control" id="phone" required #phonecodelogin />
          </div>
          <!-- <div class="mt-3 mb-3">
                        <p class="resend-otp" (click)="sendOTP()">Resend OTP?</p>
                </div> -->

          <div class="mt-3 mb-3" *ngIf="!verifyOTPAfterLoginMessage">
            <p> If you are unable to get the OTP code please sign up again with correct information.</p>
          </div>
          <div class="mt-3 mb-3" *ngIf="verifyOTPAfterLoginMessage">
            <p class="messageOTP"> Please Login Again to check your OTP status. Thanks</p>
          </div>

          <div class="mt-4 text-center">
            <button type="button" class="btn text-white bg-gradient-pink py-sm-2 px-4 px-sm-5 rounded-pill"
              (click)="verifyOTPAfterLogin(emailcodelogin.value, phonecodelogin.value)">
              Submit
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="modal fade doc_login_modal" id="docLoginModal" tabindex="-1" aria-labelledby="docLoginModalModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content otp-modal-content">
      <div class="modal-body otp-modal-body">

        <div class="row justify-content-center align-items-center h-100">
          <div class="mb-3">
            <!-- <p>Please verify yourself using this accredit link:</p> -->
            <p>For US and Canada, you must be an accredited investor. Please verify using this link and then
              you must upload your .pdf verification from them.</p>
            <a class="accredit-link" (click)="openAccreditLink()">https://www.verifyinvestor.com/signup?t=investor</a>
            <div class="note">
              <p> <span class="note-bold" *ngIf="!accreditFile">Note:</span> <br />
                {{!accreditFile?'Please upload your verified PDF document here':accreditFile.name}}</p>
            </div>
            <div class="mt-2 accredit-file" *ngIf="!accreditFile">
              <input type="file" (change)="selectAccreditedPaper($event)" accept=".pdf">
            </div>
            <div class="verified-pdf mt-2" *ngIf="messageAccreditFile">
              <p class="message"> We have received your .pdf upload and we will send you a verification
                email once it is reviewed and you will be able to continue with your purchase.</p>
            </div>
          </div>
          <div class="mt-4 text-center">
            <div class="d-flex">
              <button type="submit" class="btn text-white bg-gradient-pink py-sm-2 px-4 px-sm-5 rounded-pill"
                (click)="uploadAccreditedPaperAfterLogin()" *ngIf="!messageAccreditFile">
                Upload
              </button>
              <button type="submit" class="btn text-white bg-gradient-pink py-sm-2 px-4 px-sm-5 ms-2 rounded-pill"
                (click)="showTokenPopupAfterLogin()" *ngIf="messageAccreditFile">
                OK
              </button>
              <div *ngIf="loading && !messageAccreditFile" class="loader"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="modal fade token_login_modal" id="tokenModal" tabindex="-1" aria-labelledby="tokenModalModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content otp-modal-content">
      <div class="modal-body otp-modal-body">

        <div class="row justify-content-center align-items-center h-100">
          <div class="mb-3">
            <div class="mb-3">
              <label for="tokens" class="form-label">While you wait for the accredited investor process to be approved,
                please enter the anticipated amount of tokens you'd like to purchase and we will reserve them for you
                for 96 hours</label>
              <input type="number" class="form-control" id="tokens" required #token [min]=0 />
            </div>
            <div class="mt-4 text-center">
              <button type="submit" class="btn text-white bg-gradient-pink py-sm-2 px-4 px-sm-5 rounded-pill"
                (click)="reserveTokenAfterLogin(token.value)">
                Submit
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="modal helpDesk-modal fade" id="helpDeskModal" tabindex="-1" role="dialog"
  aria-labelledby="helpDeskModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content helpDesk-content">
      <div class="modal-header helpDesk-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Join Our Zoom Room</h5>

        <button type="button" data-dismiss="modal" aria-label="Close" class="close close-helpDeskModal"
          (click)="closeHelpDeskModal()">
          <span aria-hidden="true">×</span>
        </button>

      </div>
      <div class="modal-body helpDesk-body" *ngIf="!showErrorMessage">
        <div class="text-center">
          <h3>Please join our Zoom room for immediate</h3>
          <h3>assistance:</h3>
          <div class="zoom-link">
            <p (click)="openZoomLink('https://us02web.zoom.us/j/84772522483')">https://us02web.zoom.us/j/84772522483</p>
          </div>
          <p class="modal-title zoom-message" style="color:white; margin-top: 2rem;" id="exampleModalLongTitle">
            9:00 AM PST - 1:00 PM PST, Monday - Friday <br />
            <!-- 8:00 AM PST - 1:00 PM PST, Saturday <br /> -->
            Closed Saturday and Closed Sunday
          </p>
        </div>
      </div>
      <div class="modal-body helpDesk-body" *ngIf="showErrorMessage">
        <div class="text-center">
          <h3>Please join our Zoom room for immediate</h3>
          <h3>assistance:</h3>
          <p class="modal-title zoom-message" id="exampleModalLongTitle">
            The zoom room is closed and please join during the hours of operation. <br />
            9:00 AM PST - 1:00 PM PST, Monday - Friday <br />
            <!-- 8:00 AM PST - 1:00 PM PST, Saturday <br /> -->
            Closed Saturday and Closed Sunday
          </p>
        </div>
      </div>

      <!-- <div class="modal-body helpDesk-body">                  
                <div class="text-center">
                    <p class="modal-title zoom-message" id="exampleModalLongTitle" style="padding: 2.5rem;">
                        The zoom rooms will be closed until Wednesday this week due to a death in our team family. We apologize for any inconvenience and we’ll be back on Wednesday to help you.
                    </p>
                </div>
            </div> -->

      <div class="modal-footer helpDesk-footer">

        <button type="button" data-dismiss="modal" aria-label="Close" (click)="closeHelpDeskModal()"
          class="close close-helpDesk">Close</button>

      </div>
    </div>
  </div>
</div>