header {

  .logo {
    width: 80px;

    img {
      width: 100%;
      cursor: pointer;
    }
  }
}

.main-heading {
  text-align: center;

  span {
    color: greenyellow;
  }
}

.video{
  background-color: #000;
  height: 600px;

  iframe {
    height: 100%;
    border-radius: 16px;
  }
}



footer {

  .images{
    a img{
      width: 40px;

    }
  }
}